@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-text-white: #ffffff;
    --background-general: #0C0D1D;
    --alternativo-color-button: #7488FF;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background-general);
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
    color:  var(--color-text-white);
}


span {
    color:   var(--color-text-white);
}

a {
    text-decoration: none;
    color:   var(--color-text-white);
}

li {
    list-style-type: none;
}
